@model LoginViewModel

<form asp-controller="Account" asp-action="Login">
    <input placeholder="Email" asp-for="@Model.Email"/>
    <input placeholder="Password" asp-for="@Model.Password"/>
    <button>Login</button>
</form>
